@media screen and (min-width: 900px) {
  body {
    background-color: #dac2d6;
    justify-content: center;
    align-items: center;
    font-family: 'Bakbak One', cursive;
  }
  #forScreenMax899px {
    display: none;
  }
  .shapka,
  #hedder {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .presentation {
    transform-style: preserve-3d;
    background-image: url(DSC_1032.jpg);
    background-size: cover;
    height: 85vh;
    padding: 0 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .presentation:hover {
    background-image: url(DSC_1020.jpg);
  }
  .presentation h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
  }
  #hedder h2,
  .shapka h2 {
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    height: 30px;
    width: 120px;
    text-align: center;
    letter-spacing: normal;
    cursor: pointer;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  #hedder h2:hover,
  .shapka h2:hover {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    width: 150px;
    letter-spacing: 4px;
    background-color: rgba(243, 170, 215, 0.87);
  }
  .achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo {
    border-radius: 50%;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    float: left;
  }
  h3 {
    font-size: 50px;
    margin: 0px auto;
    text-align: center;
  }
  p {
    font-size: 24px;
  }
  #Stazh {
    margin-left: 20px;
  }
  #PHD {
    margin-left: 120px;
  }
  #work {
    margin-left: 220px;
  }
  #mova {
    margin-left: 320px;
  }
  .Iam {
    font-size: 24px;
    color: #660766;
    background-color: rgba(243, 170, 215, 0.87);
    width: 400px;
    text-align: left;
    height: auto;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    float: right;
  }
  video {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    width: 70%;
    height: 60%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .sing {
    color: #4c4b49;
    font-size: 12px;
    display: block;
    text-align: center;
  }
  a:link,
  a:visited {
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover,
  a:active {
    color: #000000;
  }
  .years {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 50%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 5px;
    padding-right: 5px;
    width: 140px;
    text-align: center;
    background: #663399;
    background: linear-gradient(45deg, #663399 35%, rgba(221, 80, 80, 0.84947482) 100%);
    float: unset;
    margin-left: 5%;
    display: block;
    position: relative;
    margin-left: 150px;
  }
  .title {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 180px;
    text-align: center;
    font-size: 40px;
    vertical-align: middle;
    margin: 0 auto;
  }
  #project1,
  #project2,
  #project3,
  #project4 {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 180px;
    text-align: center;
    font-size: 40px;
    letter-spacing: normal;
    cursor: pointer;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  #project1:hover,
  #project2:hover,
  #project3:hover,
  #project4:hover {
    letter-spacing: 4px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(243, 170, 215, 0.87);
  }
  .text {
    display: flex;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    margin-left: 150px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 130vh;
    background-color: rgba(243, 170, 215, 0.87);
  }
  .education,
  #proline {
    display: flex;
    flex-direction: row;
  }
  #emova,
  #edit,
  #google,
  #github {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  #cocialnetworks,
  #writeme {
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }
  input,
  textarea {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    font-size: 14px;
  }
  input:focus,
  textarea:focus {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    background-color: rgba(243, 170, 215, 0.87);
    font-size: 14px;
  }
  .form {
    clear: both;
    text-align: right;
    line-height: 25px;
  }
  label {
    float: left;
    padding-right: 10px;
  }
  #form {
    float: left;
    margin-left: 400px;
    margin-bottom: 60px;
  }
  #form {
    margin-bottom: 200px;
  }
  #victory {
    display: block;
    float: inline;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  #victory img {
    padding: auto;
  }
  audio {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .mydrawing {
    border-radius: 50%;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    float: left;
  }
  .textaboutart {
    margin-left: 450px;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 25px;
    background-color: rgba(243, 170, 215, 0.87);
    width: 1000px;
  }
  #sport {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
  }
  #sportsblock,
  #danceblock,
  #cycling {
    background-color: rgba(243, 170, 215, 0.87);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: top;
    min-height: 400px;
    min-width: 250px;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  #sportsblock img,
  #danceblock img,
  #cycling img {
    border-radius: 50%;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    margin: 20px;
    transition: 1s;
  }
  #sportsblock img:hover,
  #danceblock img:hover,
  #cycling img:hover {
    transform: scale(1.2);
  }
  #sportsblock:hover,
  #danceblock:hover,
  #cycling:hover {
    background-color: rgba(223, 175, 205, 0.87);
  }
  #cooking,
  #cookingmore {
    display: flex;
    justify-content: space-between;
  }
  .eat {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 50%;
    margin: 30px;
    transition: 1s;
  }
  .eat:hover {
    transform: scale(1.2);
  }
  #aboutCooking {
    text-align: center;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 25px;
    padding: 20px;
    background-color: rgba(243, 170, 215, 0.87);
    margin: 0 auto;
  }
  #buttonTrip {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #ua,
  #eu {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 300px;
    text-align: center;
    font-size: 40px;
    letter-spacing: normal;
    cursor: pointer;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  #ua:hover,
  #eu:hover {
    letter-spacing: 4px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(243, 170, 215, 0.87);
  }
  #triptoUkraine,
  #triptoEurope {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .trip {
    margin: 50px;
  }
  iframe {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 50%;
    transition: 1s;
  }
  iframe:hover {
    transform: scale(1.5);
  }
  #myphotofromatrip span,
  #myphotofromatriptoEurope span {
    display: flex;
    justify-content: space-between;
  }
  #myphotofromatrip img,
  #myphotofromatriptoEurope img {
    display: flex;
    margin: auto;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 50%;
    transition: 1s;
  }
  #myphotofromatrip img:hover,
  #myphotofromatriptoEurope img:hover {
    transform: scale(1.5);
  }
  #myphotofromatrip p,
  #myphotofromatriptoEurope p {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(243, 170, 215, 0.87);
    text-align: center;
  }
}
@media screen and (max-width: 899px) {
  body {
    background-color: #dac2d6;
    justify-content: center;
    align-items: center;
    font-family: 'Bakbak One', cursive;
  }
  .shapka {
    display: block;
  }
  .shapka h2 {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    text-align: center;
    letter-spacing: normal;
    cursor: pointer;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  .shapka h2:hover {
    letter-spacing: 4px;
    background-color: rgba(243, 170, 215, 0.87);
  }
  .presentation {
    background-image: url(DSC_1131.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: 899px;
    height: 500px;
  }
  .presentation h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    -webkit-text-stroke: 2px rebeccapurple;
    -moz-text-stroke: 2px rebeccapurple;
    -o-text-stroke: 2px rebeccapurple;
  }
  .presentation p {
    border: 3px solid #660766;
    border-radius: 15px;
    width: 320px;
    padding: 10px;
    font-size: 18px;
    color: #660766;
    background-color: rgba(243, 170, 215, 0.87);
    text-align: justify;
    float: left;
    margin-left: 25px;
  }
  h3 {
    font-size: 35px;
    margin: 0px auto;
    text-align: center;
    margin: 10px;
  }
  .achievement {
    display: grid;
    margin-bottom: 40px;
  }
  .achievement p {
    display: grid;
    grid-template-columns: 115px 600px;
    grid-column-gap: 30px;
    text-align: justify;
    line-height: 25px;
    margin-left: 20px;
  }
  .achievement .photo {
    border-radius: 50%;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .achievement span {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 10px;
    padding: 7px 20px;
    text-align: justify;
    background-color: rgba(243, 170, 215, 0.87);
    width: 550px;
  }
  video {
    width: 600px;
    display: flex;
    margin: auto;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
  }
  .sing {
    color: #4c4b49;
    font-size: 10px;
    text-align: center;
  }
  a:link,
  a:visited {
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover,
  a:active {
    color: #000000;
  }
  #box {
    display: grid;
    grid-template-columns: 120px 630px;
    grid-column-gap: 150px;
    line-height: 30px;
    margin-left: 20px;
  }
  #box #project1,
  #box #project2,
  #box #project3,
  #box #project4 {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 10%;
    padding: 10px;
    width: 180px;
    text-align: center;
    font-size: 30px;
    letter-spacing: normal;
    cursor: pointer;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  #box #project1:hover,
  #box #project2:hover,
  #box #project3:hover,
  #box #project4:hover {
    letter-spacing: 4px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(243, 170, 215, 0.87);
  }
  #box #emova,
  #box #edit,
  #box #google,
  #box #github {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
  }
  .education {
    display: grid;
    grid-template-columns: 120px 600px;
    grid-column-gap: 40px;
    text-align: justify;
    line-height: 25px;
    margin-left: 20px;
  }
  .education .text {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 20px;
    text-align: center;
    width: 550px;
  }
  .years {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 3px;
    padding-right: 3px;
    width: 140px;
    text-align: center;
    background: #663399;
    background: linear-gradient(45deg, #663399 35%, rgba(221, 80, 80, 0.84947482) 100%);
  }
  .title {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 180px;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    margin-left: 15px;
  }
  #cocialnetworks {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #writeme {
    font-size: 16px;
    text-align: center;
  }
  input,
  textarea {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    font-size: 14px;
  }
  input:focus,
  textarea:focus {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    background-color: rgba(243, 170, 215, 0.87);
    font-size: 14px;
  }
  .form {
    clear: both;
    text-align: right;
    line-height: 25px;
  }
  label {
    float: left;
    padding-right: 10px;
  }
  #form {
    float: left;
    margin-bottom: 200px;
  }
  #hedder {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
    align-items: center;
    justify-content: center;
  }
  #hedder h2 {
    text-align: center;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    letter-spacing: normal;
    height: 30px;
    width: 120px;
    cursor: pointer;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  #hedder h2:hover {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    width: 150px;
    letter-spacing: 4px;
    background-color: rgba(243, 170, 215, 0.87);
  }
  audio {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 30px;
    justify-content: center;
  }
  #victory {
    display: flex;
    flex-direction: row;
    width: 835px;
    justify-content: space-between;
    border: 3px solid rebeccapurple;
  }
  #victory img {
    height: 80px;
  }
  .aboutArt {
    display: grid;
    grid-template-columns: 200px 550px;
    grid-column-gap: 40px;
    justify-content: center;
    margin-top: 50px;
  }
  .aboutArt img {
    height: 200px;
    width: 200px;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 50%;
  }
  .aboutArt p {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 15px;
    padding: 5px;
    width: 550px;
    background-color: rgba(243, 170, 215, 0.87);
  }
  #cooking,
  #cookingmore {
    display: flex;
    justify-content: space-between;
  }
  #cooking img,
  #cookingmore img {
    height: 100px;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 50%;
    transition: 1s;
  }
  #cooking img:hover,
  #cookingmore img:hover {
    transform: scale(1.2);
  }
  #textAboutCooking {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 15px;
    text-align: center;
    margin: 25px;
    background-color: rgba(243, 170, 215, 0.87);
  }
  #sport {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
  }
  #sport {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: center;
  }
  #sport #cycling,
  #sport #sportsblock,
  #sport #danceblock {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    background-color: rgba(243, 170, 215, 0.87);
    border-radius: 15px;
    margin: 15px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  #sport #cycling p,
  #sport #sportsblock p,
  #sport #danceblock p {
    font-size: 14px;
  }
  #sport #cycling img,
  #sport #sportsblock img,
  #sport #danceblock img {
    height: 200px;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 50%;
    transition: 1s;
    justify-content: center;
  }
  #sport #cycling img:hover,
  #sport #sportsblock img:hover,
  #sport #danceblock img:hover {
    transform: scale(1.2);
  }
  #sport #cycling:hover,
  #sport #sportsblock:hover,
  #sport #danceblock:hover {
    background-color: rgba(223, 175, 205, 0.87);
  }
  #cycling {
    padding: 5px;
  }
  #sportsblock {
    padding: 5px;
  }
  #danceblock {
    padding: 15px;
  }
  #buttonTrip {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #ua,
  #eu {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 15px;
    font-size: 20px;
    letter-spacing: normal;
    cursor: pointer;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  #ua:hover,
  #eu:hover {
    letter-spacing: 4px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(243, 170, 215, 0.87);
  }
  #triptoUkraine,
  #triptoEurope {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .trip {
    margin: 50px;
  }
  iframe {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 50%;
    transition: 1s;
  }
  iframe:hover {
    transform: scale(1.5);
  }
  #myphotofromatrip span,
  #myphotofromatriptoEurope span {
    display: flex;
    justify-content: space-between;
  }
  #myphotofromatrip img,
  #myphotofromatriptoEurope img {
    display: flex;
    margin: auto;
    height: 200px;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 50%;
    transition: 1s;
  }
  #myphotofromatrip img:hover,
  #myphotofromatriptoEurope img:hover {
    transform: scale(1.5);
  }
  #myphotofromatrip p,
  #myphotofromatriptoEurope p {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(243, 170, 215, 0.87);
    text-align: center;
  }
}
