// змінні
@border: 3px solid rebeccapurple; 
@box-shadow: 0 0 7px rgb(221, 80, 80);
@background-color: rgb(218, 194, 214);
@undertone: rgba(243, 170, 215, 0.87);
@ground: rgba(223, 175, 205, 0.87);
//mixin
.createBeetwen(@display: flex; @justify-content: space-between;) {
    display: @display;
    justify-content: @justify-content;
}

@media screen and (min-width: 900px) {

       
    body {
        background-color: @background-color;
        justify-content: center;
        align-items: center;
        font-family: 'Bakbak One', cursive;
        
    }

    .shapka, #hedder {
    
        display: flex;
        flex-direction: row;
        align-items: center;
             
      
    }
    .presentation {
        transform-style: preserve-3d;
        background-image: url(DSC_1032.jpg);
        background-size: cover;
        height: 85vh;
        padding: 0 20px;
        background-position: center;
        background-repeat: no-repeat;
        
        &:hover {
            background-image: url(DSC_1020.jpg);
        
        
        }
        
    }
    
    .presentation h1 {
    
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50px;
        color: white;
        text-align: center;
        
        
    
        }

    
    
    
    #hedder h2, .shapka h2 {
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
        border: @border; 
        box-shadow: @box-shadow;
        height: 30px;
        width: 120px;
        text-align: center;
        letter-spacing: normal;
        cursor: pointer;
        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        transition: all 1s ease-in; 
    
    &:hover {
        border: @border; 
        box-shadow: @box-shadow;
        width: 150px;
        letter-spacing: 4px;
        background-color: @undertone;
    
    }}
    
    .achievement {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .photo  {
    
        border-radius: 50%; 
        border: @border; 
        box-shadow: @box-shadow;
        float: left;
    }
    h3{
    font-size: 50px;
    margin: 0px auto;
    text-align: center;
        
    }
    
    p {
    font-size: 24px;
        
    
    }
    
    #Stazh {
        margin-left: 20px;
    }
    #PHD {
        margin-left: 120px;
    }
    
    #work {
        margin-left: 220px;
    }
    
    #mova {
    
        margin-left: 320px;
    }
    
    .Iam {
    
        font-size: 24px;
        color: rgb(102, 7, 102);
        background-color: @undertone;
        width: 400px;
        text-align: left;
        height: auto;
        border-style: solid;
        border-width: 3px;
        border-radius: 10px;
        padding-left: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
        float: right;
                }
    
    
    
    video {
        border: @border; 
        box-shadow: @box-shadow; 
        width: 70%;
        height: 60%;
        margin: 0 auto;
        display: block;
        text-align: center;
    
        
    }
    
    .sing {
        color: rgb(76, 75, 73);
        font-size: 12px;
        display: block;
        text-align: center;
    
    }
    
    a:link, a:visited {
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        color: rgb(0, 0, 0);
      }
    
      .years {
        border: @border; 
        box-shadow: @box-shadow;
        border-radius: 50%; 
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 5px;
        padding-right: 5px;
        width: 140px;
        text-align: center;
        background: rgb(102,51,153);
        background: linear-gradient(45deg, rgba(102,51,153,1) 35%, rgba(221,80,80,0.8494748241093313) 100%);
        float: unset;
        margin-left: 5%;
        display: block;
        position: relative;
        margin-left: 150px;
        
    
    
      }
    
      .title {
    
        border: @border; 
        box-shadow: @box-shadow;
        border-radius: 10%; 
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        width: 180px;
        text-align: center;
        font-size: 40px;
        vertical-align: middle;
        margin: 0 auto;
            
      }


    
    
        #project1, #project2, #project3, #project4 {
    
        border: @border; 
        box-shadow: @box-shadow;
        border-radius: 10%; 
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        .createBeetwen();
        margin: 50px auto;
        width: 180px;
        text-align: center;
        font-size: 40px;
        letter-spacing: normal;
        cursor: pointer;
        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        transition: all 1s ease-in;     
        
      
    
      &:hover  {
        letter-spacing: 4px;
        padding-left: 1%;
        padding-right: 1%;
        background-color: @undertone;
    
       
      }}
      .text {
        display: flex;
        border: @border; 
        box-shadow: @box-shadow; 
        margin-left: 150px;
        border-radius: 10px;
        padding-left: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
        width: 130vh;
        background-color: @undertone;

    
    
    }

    .education, #proline {
        display: flex;
        flex-direction: row;
        
    }

    #emova, #edit, #google, #github  {
        border: @border; 
        box-shadow: @box-shadow;
        width: 300px;
        height: 300px;
        margin: 0 auto;

    }
    #cocialnetworks, #writeme  {
        display: flex; 
        justify-content: center;
        margin: 10px auto;

    }

   
   
    input, textarea {
        border: @border; 
        box-shadow: @box-shadow;
        font-size: 14px;
        
        
    }
    input:focus, textarea:focus {
        border: @border; 
        box-shadow: @box-shadow; 
        background-color: @undertone;
        font-size: 14px;
    }
    .form {
        clear:both;
        text-align:right;
        line-height:25px;
        
    }
    label {
        float: left;
        padding-right:10px;
    }

    #form {
        float: left;
        margin-left: 400px;
        margin-bottom: 60px;
              
        
    }
    #form {
        margin-bottom: 200px;
    }

    #victory {
        display: block;
        float: inline;
        border: @border;
        box-shadow: @box-shadow;
        box-sizing: content-box;
        margin-left: auto;
        margin-right: auto;
        .createBeetwen();
        img {
            
            padding: auto;
                }
    
        
    }
    audio {
        border: @border;
        box-shadow: @box-shadow;
        border-radius: 40%;
        margin-left: auto;
        margin-right: auto;
    }       


    .mydrawing {
        border-radius: 50%; 
        border: @border; 
        box-shadow: @box-shadow;
        float: left;

    }


    .textaboutart {
        margin-left: 450px;
        border: @border;
        box-shadow: @box-shadow;
        padding-left: 20px;
        padding-right: 10px;
        margin-top: 70px;
        margin-bottom: 70px;
        border-radius: 25px;
        background-color: @undertone;
        width: 1000px;
        
    }



#sport {
            .createBeetwen();
            flex-wrap: wrap;
            margin: 30px;
        
        }

#sportsblock, #danceblock, #cycling {
        background-color: @undertone;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        vertical-align: top;
        min-height: 400px;
        min-width: 250px;
        border: @border;
        box-shadow: @box-shadow;
        border-radius: 25px;
        text-align: center;
        cursor: pointer;
        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        transition: all 1s ease-in; 

        img {
        border-radius: 50%; 
        border: @border; 
        box-shadow: @box-shadow;
        margin: 20px;
        transition: 1s;

       

        &:hover {
            transform: scale(1.2);

        }}

        &:hover {
            background-color: @ground;

        }

    
    }

    
    #cooking, #cookingmore {
        .createBeetwen();
    }

    .eat {
            border: @border;
            box-shadow: @box-shadow;
            border-radius: 50%;
            margin: 30px;
            transition: 1s;


        &:hover {
        transform: scale(1.2);
    }}

    #aboutCooking {
        text-align: center;
        border: @border;
        box-shadow: @box-shadow;
        border-radius: 25px;
        padding: 20px;
        background-color: @undertone;
        margin: 0 auto;


    }

    #buttonTrip{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    #ua, #eu {
        border: @border; 
        box-shadow: @box-shadow;
        border-radius: 25px; 
        .createBeetwen();
        margin: 50px auto;
        width: 300px;
        text-align: center;
        font-size: 40px;
        letter-spacing: normal;
        cursor: pointer;
        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        transition: all 1s ease-in;   

    }

    #ua:hover, #eu:hover {
        letter-spacing: 4px;
        padding-left: 1%;
        padding-right: 1%;
        background-color: @undertone;
    }


    #triptoUkraine, #triptoEurope {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .trip {
        margin: 50px;
    }
 



    iframe {
       
        border: @border;
        box-shadow: @box-shadow;
        border-radius: 50%;
        transition: 1s;   

        }

    iframe:hover {
        transform: scale(1.5);

    }

    #myphotofromatrip, #myphotofromatriptoEurope {

        span {
            .createBeetwen();

        }
        

        img {
            display: flex;
            margin: auto;
            border: @border;
            box-shadow: @box-shadow;
            border-radius: 50%;
            transition: 1s;   
        }

        img:hover {
            transform: scale(1.5);
    
        }

        p {
            border: @border;
            box-shadow: @box-shadow;
            border-radius: 10px;
            padding: 20px;
            background-color: @undertone;
            text-align: center;

        }

    }}


    


    
    @media screen and (max-width: 899px) {
    
    
    
    body {
        background-color: @background-color;
        justify-content: center;
        align-items: center;
        font-family: 'Bakbak One', cursive;
            
        }

    .forScreenMax899px {
        display: block;


        }

        
    .shapka {
        display: block;

        h2 {
            border: @border;
            box-shadow: @box-shadow;
            text-align: center;
            letter-spacing: normal;
            cursor: pointer;
            -webkit-transition: all 1s ease-in;
            -moz-transition: all 1s ease-in;
            -o-transition: all 1s ease-in;
            transition: all 1s ease-in; 
        


            &:hover {
                letter-spacing: 4px;
                background-color: @undertone;
            }
        }

    }

    .presentation {
        background-image: url(DSC_1131.jpg);
        position: relative;
        background-repeat: no-repeat;
        background-size: 899px;
        height: 500px;       


    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50px;
        color: white;
        text-align: center;
        -webkit-text-stroke: 2px rebeccapurple;
        -moz-text-stroke: 2px rebeccapurple;
        -o-text-stroke: 2px rebeccapurple;
                
        }
    p {
        border: 3px solid rgb(102, 7, 102);
        border-radius: 15px;
        width: 320px;
        padding: 10px;
        font-size: 18px;
        color: rgb(102, 7, 102);
        background-color: @undertone;
        text-align: justify;
        float: left;
        margin-left: 25px;
        

    }    
    }

    h3 {
        font-size: 35px;
        margin: 0px auto;
        text-align: center;
        margin: 10px;
    }



    .achievement {
        display: grid;
       
        margin-bottom: 40px;
               
        p {
            display: grid;
            grid-template-columns: 115px 600px;
            grid-column-gap: 30px;
            text-align: justify;
            line-height:25px;
            margin-left: 20px;

        }
        .photo {            

            border-radius: 50%; 
            border: @border; 
            box-shadow: @box-shadow;
            margin-top: 25px; 
            margin-bottom: 25px;                    

        }

        span {
            border: @border; 
            box-shadow: @box-shadow; 
            border-radius: 10px;
            padding: 7px 20px;
            text-align: justify;
            background-color: @undertone;
            width: 550px;
            
            
            
        }
    } 

    video {
        width: 600px;
        display: flex;
        margin: auto;
        border: @border;
        box-shadow: @box-shadow;

    }

    .sing {
        color: rgb(76, 75, 73);
        font-size: 10px;
        text-align: center;
    }    
   
    a:link, a:visited {
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        color: rgb(0, 0, 0);
      }

      #box {
        display: grid;
        grid-template-columns: 120px 630px;
        grid-column-gap: 150px;
        line-height:30px;
        margin-left: 20px;
        

      #project1, #project2, #project3, #project4 {     
        border: @border; 
        box-shadow: @box-shadow;
        border-radius: 10%; 
        padding: 10px;
        width: 180px;
        text-align: center;
        font-size: 30px;
        letter-spacing: normal;
        cursor: pointer;
        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        transition: all 1s ease-in;     
        
      
    
      &:hover  {
        letter-spacing: 4px;
        padding-left: 1%;
        padding-right: 1%;
        background-color: @undertone;
    
       
      }}

      #emova, #edit, #google, #github {
        
            border: @border; 
            box-shadow: @box-shadow;

            
    
        
      }}

      .education {
        display: grid;
        grid-template-columns: 120px 600px;
        grid-column-gap: 40px;
        text-align: justify;
        line-height:25px;
        margin-left: 20px;

        .text {
            border: @border;
            box-shadow: @box-shadow;
            border-radius: 20px;
            text-align: center;
            width: 550px;
            

            

        }

      }

      .years {
        border: @border;
        box-shadow: @box-shadow;
        border-radius: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 3px;
        padding-right: 3px;
        width: 140px;
        text-align: center;
        background: rgb(102,51,153);
        background: linear-gradient(45deg, rgba(102,51,153,1) 35%, rgba(221,80,80,0.8494748241093313) 100%);
        
      }

      .title {

        border: @border; 
        box-shadow: @box-shadow;
        border-radius: 10px; 
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        width: 180px;
         text-align: center;
        font-size: 25px;
        vertical-align: middle;
        margin-left: 15px;
      }

      #cocialnetworks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
      }

      #writeme {
        font-size: 16px;
        text-align: center;
      }


      input, textarea {
        border: @border; 
        box-shadow: @box-shadow;
        font-size: 14px;
        
        
    }
    input:focus, textarea:focus {
        border: @border; 
        box-shadow: @box-shadow; 
        background-color: @undertone;
        font-size: 14px;
    }
    .form {
        clear:both;
        text-align:right;
        line-height:25px;
        
    }
    label {
        float: left;
        padding-right:10px;
    }

    #form {
        float: left;
        margin-bottom: 200px;
              
        
    }

    // hobby page 

    #hedder {

       
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 40px;
        align-items: center;
        justify-content: center; 
        
                

        h2 {
            text-align: center;
            border: @border;
            box-shadow: @box-shadow;
            letter-spacing: normal;
            height: 30px;
            width: 120px;
            cursor: pointer;
            -webkit-transition: all 1s ease-in;
            -moz-transition: all 1s ease-in;
            -o-transition: all 1s ease-in;
            transition: all 1s ease-in; 
        
        &:hover {
            border: @border; 
            box-shadow: @box-shadow;
            width: 150px;
            letter-spacing: 4px;
            background-color: @undertone;
        
        }}}
        

    audio {
        border: @border;
        box-shadow: @box-shadow;
        border-radius: 30px;
        justify-content: center;

    }

    #victory {
        display: flex;
        flex-direction: row;
        width: 835px;
        justify-content: space-between;
        border: @border;

        img {
            height: 80px;
            
        }
               

    }

    .aboutArt {
        display: grid;
        grid-template-columns: 200px 550px;
        grid-column-gap: 40px;
        justify-content: center;
        margin-top: 50px;

        img {
            height: 200px;
            width: 200px;
            border: @border;
            box-shadow: @box-shadow;
            border-radius: 50%;

        }

        p {            
            border: @border;
            box-shadow: @box-shadow;
            border-radius: 15px;
            padding: 5px;
            width: 550px;
            background-color: @undertone;

        }


    }
    #cooking, #cookingmore {
        .createBeetwen();
        img {
            height: 100px;
            border: @border;
            box-shadow: @box-shadow;
            border-radius: 50%;
            transition: 1s;

            &:hover {
                transform: scale(1.2);

            }
        }

    }

    #textAboutCooking {
        border: @border;
        box-shadow: @box-shadow;
        border-radius: 15px;
        text-align: center;
        margin: 25px;
        background-color: @undertone;

    }

    #sport {
        .createBeetwen();
        flex-wrap: wrap;
        margin: 30px;
    
    }

    #sport {
        .createBeetwen();
        flex-wrap: wrap;
        margin: 30px;
        justify-content: center;
        

    #cycling, #sportsblock, #danceblock {
        border: @border;
        box-shadow: @box-shadow;
        background-color: @undertone;
        border-radius: 15px;
        margin: 15px;
        text-align: center;
        cursor: pointer;
        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        transition: all 1s ease-in; 
        
        p {
            font-size: 14px;


        }

        img {
            height: 200px;
            border: @border;
            box-shadow: @box-shadow;
            border-radius: 50%;
            transition: 1s;
            justify-content: center;
    

            &:hover {
                transform: scale(1.2);

            }
        }
        &:hover {
            background-color: @ground;
                
        }
        
    }}

    #cycling {
        padding: 5px;
    }
    #sportsblock {
        padding: 5px;
    }
    #danceblock {
        padding: 15px;
    }



    #buttonTrip{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    #ua, #eu {
        
        border: @border; 
        box-shadow: @box-shadow;
        border-radius: 15px; 
        font-size: 20px;
        letter-spacing: normal;
        cursor: pointer;
        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        transition: all 1s ease-in;     
        
        &:hover {
        letter-spacing: 4px;
        padding-left: 1%;
        padding-right: 1%;
        background-color: @undertone;
    }}


    #triptoUkraine, #triptoEurope {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .trip {
        margin: 50px;
    }
 



    iframe {
       
        border: @border;
        box-shadow: @box-shadow;
        border-radius: 50%;
        transition: 1s;   

        &:hover {
        transform: scale(1.5);

    }}

    #myphotofromatrip, #myphotofromatriptoEurope {

        span {
            .createBeetwen();

        }
        

        img {
            display: flex;
            margin: auto;
            height: 200px;
            border: @border;
            box-shadow: @box-shadow;
            border-radius: 50%;
            transition: 1s;   
        &:hover {
            transform: scale(1.5);
    
        }}

        p {
            border: @border;
            box-shadow: @box-shadow;
            border-radius: 10px;
            padding: 20px;
            background-color: @undertone;
            text-align: center;

        }

    }}