@media screen and (min-width: 800px) {
  body {
    background-color: #dac2d6;
    justify-content: center;
    align-items: center;
    font-family: 'Bakbak One', cursive;
  }
  .shapka {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .presentation {
    transform-style: preserve-3d;
    background-image: url(DSC_1032.jpg);
    background-size: cover;
    height: 85vh;
    padding: 0 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .presentation h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    margin: 5px 500px;
  }
  .presentation:hover {
    background-image: url(DSC_1020.jpg);
  }
  .shapka h2 {
    padding: 0 20px;
    margin: 0 50px;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    height: 30px;
    width: 120px;
    letter-spacing: normal;
    cursor: pointer;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  .shapka h2:hover {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    width: 150px;
    letter-spacing: 4px;
    background-color: rgba(246, 157, 157, 0.556);
  }
  .achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo {
    border-radius: 50%;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    float: left;
  }
  h3 {
    font-size: 50px;
    margin: 5px 500px;
    text-align: center;
  }
  p {
    font-size: 24px;
  }
  #Stazh {
    margin-left: 20px;
  }
  #PHD {
    margin-left: 120px;
  }
  #work {
    margin-left: 220px;
  }
  #mova {
    margin-left: 320px;
  }
  .Iam {
    font-size: 24px;
    color: #660766;
    background-color: rgba(243, 170, 215, 0.87);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    width: 400px;
    text-align: left;
    height: auto;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 1000px;
    margin-top: 90px;
  }
  video {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    width: 70%;
    height: 60%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .sing {
    color: #4c4b49;
    font-size: 12px;
    display: block;
    text-align: center;
  }
  a:link,
  a:visited {
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover,
  a:active {
    color: #000000;
  }
  .years {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 50%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 5px;
    padding-right: 5px;
    width: 140px;
    text-align: center;
    background: #663399;
    background: linear-gradient(45deg, #663399 35%, rgba(221, 80, 80, 0.84947482) 100%);
    float: unset;
    margin-left: 5%;
    display: block;
    position: relative;
    margin-left: 150px;
  }
  .title {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 180px;
    text-align: center;
    font-size: 40px;
    margin-left: 43%;
    vertical-align: middle;
  }
  .project {
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    border-radius: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 180px;
    text-align: center;
    font-size: 40px;
    margin-left: 10%;
    letter-spacing: normal;
    cursor: pointer;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  .project:hover {
    letter-spacing: 4px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(246, 157, 157, 0.556);
  }
  .text {
    display: flex;
    border: 3px solid rebeccapurple;
    box-shadow: 0 0 7px #dd5050;
    margin-left: 150px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 130vh;
  }
  .education,
  #proline {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 799px) {
  body {
    background-color: #dac2d6;
  }
}
